<div class="flex-layout">
  <div class="flex-layout__widget-container">
    <%= Phoenix.LiveView.live_render(@conn, DashboardWeb.ClockLive) %>
    <%= Phoenix.LiveView.live_render(@conn, DashboardWeb.CircleCI.Widget) %>
  </div>
</div>
